:root {
    --background-color: #0b2908;
    --light-color: #8bc371;
    --heading-color: #2d4615;
    --text-color: #ffffff;
    --hover-color: #ffc711;
}

.btn {
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.hire-btn {
    background-color: var(--light-color);
    color: var(--background-color);
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.hire-btn:hover {
    background-color: var(--hover-color);
    color: var(--background-color);
    padding: 8px;
    border: 3px;
    border-color: var(--light-color);
    border-radius: 5px;
}

.hero-title {
    font-weight: 700;
}

.hero-img {
    width: 450px;
    height: auto;
    border-radius: 30px;
    text-align: center;
    background: var(--heading-color);
    margin-left: auto;
}

.hero-section {
    padding-top: 150px;
}

.hero-content p {
    line-height: 30px;
    font-weight: 400;
}