:root {
    --background-color: #0b2908;
    --light-color: #8bc371;
    --second-color: #2d4615;
    --text-color: #ffffff;
    --hover-color: #ffc711;
}

.header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo h5{
    font-size: 1.3rem;
}

.nav-list{
    display: flex;
    align-items: center;
    column-gap: 4rem;
}

.nav-item a:hover{
    color: var(--hover-color);
}

.nav-item a{
    color: var(--light-color);
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
}

.mobile-menu i{
    color: var(--light-color);
    font-size: 1.3rem;
    cursor: pointer;
}

.mobile-menu {
    display: none;
}